@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Retail Advertising</h1>
    <p class="lead">Manage your advertising offer planning from one spot</p>

    <div class="col-md-4">
        <a href ="@Url.Action("Login", "Login")" class="btn btn-info"><span class="glyphicon glyphicon-log-in"> </span> @ViewBag.button @*Connect to SalesForce*@</a>
    </div>

</div>

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Index","Calendar")" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-calendar"> </span> Advertising Calender
        </a>

        <a href="@Url.Action("ListInventory", "InventoryManager")" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-tasks"> </span> Sample Management
        </a>

    </div>

    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Create","AdvertisingOffer")" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-plus"> </span> Create Offer
        </a>

        <a href="@Url.Action("OfferList","AdvertisingOffer")" class="btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-tasks"> </span> Manage Offers
        </a>

    </div>
    <div class="col-md-6"></div>
</div>



