@model RetailAdvertisingTool.Models.AdvertisingOffer

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        <h4>AdvertisingOffer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TYOfferCopy, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TYOfferCopy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TYOfferCopy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TYOfferPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TYOfferPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TYOfferPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TYItemToAdvertise, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TYItemToAdvertise, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TYItemToAdvertise, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TYOfferPrep, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TYOfferPrep, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TYOfferPrep, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TYOfferSaleThru, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TYOfferSaleThru, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TYOfferSaleThru, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TYInventoryLevel, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TYInventoryLevel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TYInventoryLevel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


           <div class="col-md-6">
               @*<div class="form-group">
                   @Html.LabelFor(model => model.MerchID, htmlAttributes: new { @class = "control-label col-md-2" })
                   <div class="col-md-10">
                       @Html.EditorFor(model => model.MerchID, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.MerchID, "", new { @class = "text-danger" })
                   </div>
               </div>*@

               <div class="form-group">
                   @Html.LabelFor(model => model.LYOfferCopy, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.LYOfferCopy, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.LYOfferCopy, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.LYOfferPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.LYOfferPrice, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.LYOfferPrice, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.LYItemToAdvertise, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.LYItemToAdvertise, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.LYItemToAdvertise, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.LYOfferPrep, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.LYOfferPrep, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.LYOfferPrep, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.LYOfferSaleThru, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.LYOfferSaleThru, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.LYOfferSaleThru, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.LYInventoryLevel, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.LYInventoryLevel, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.LYInventoryLevel, "", new { @class = "text-danger" })
                   </div>
               </div>
           </div> 

        </div>


        <div class="form-group">
            <div class="col-md-offset-10 col-md-12">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
   @* @Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Go to List", "OfferList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
