@model RetailAdvertisingTool.Models.AdvertisingOfferCreator

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        <h4>Advertising Offer</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => Model.AdvertisingOffer.TYOfferCopy, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdvertisingOffer.TYOfferCopy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdvertisingOffer.TYOfferCopy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AdvertisingOffer.TYOfferPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdvertisingOffer.TYOfferPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdvertisingOffer.TYOfferPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.AdvertisingOffer.TYItemToAdvertise, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdvertisingOffer.TYItemToAdvertise, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdvertisingOffer.TYItemToAdvertise, "", new { @class = "text-danger" })
                    </div>
                </div>*@


                <div class="form-group">
                    @Html.LabelFor(model => model.AdvertisingOffer.TYItemToAdvertise, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       <select class="form-control" name="AdvertisingOffer.TYItemToAdvertise">
                           <option></option>
                           @foreach (var item in Model.InventoryManager)
                           {
                               <option>@item.Name</option>
                           }

                       </select>

                       
                   </div>      
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.AdvertisingOffer.TYOfferPrep, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdvertisingOffer.TYOfferPrep, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdvertisingOffer.TYOfferPrep, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AdvertisingOffer.TYOfferSaleThru, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdvertisingOffer.TYOfferSaleThru, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdvertisingOffer.TYOfferSaleThru, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AdvertisingOffer.TYInventoryLevel, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdvertisingOffer.TYInventoryLevel, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AdvertisingOffer.TYInventoryLevel, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


           <div class="col-md-6">
               @*<div class="form-group">
                   @Html.LabelFor(model => model.MerchID, htmlAttributes: new { @class = "control-label col-md-2" })
                   <div class="col-md-10">
                       @Html.EditorFor(model => model.MerchID, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.MerchID, "", new { @class = "text-danger" })
                   </div>
               </div>*@

               <div class="form-group">
                   @Html.LabelFor(model => model.AdvertisingOffer.LYOfferCopy, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.AdvertisingOffer.LYOfferCopy, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.AdvertisingOffer.LYOfferCopy, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.AdvertisingOffer.LYOfferPrice, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.AdvertisingOffer.LYOfferPrice, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.AdvertisingOffer.LYOfferPrice, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.AdvertisingOffer.LYItemToAdvertise, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.AdvertisingOffer.LYItemToAdvertise, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.AdvertisingOffer.LYItemToAdvertise, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.AdvertisingOffer.LYOfferPrep, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.AdvertisingOffer.LYOfferPrep, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.AdvertisingOffer.LYOfferPrep, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.AdvertisingOffer.LYOfferSaleThru, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.AdvertisingOffer.LYOfferSaleThru, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.AdvertisingOffer.LYOfferSaleThru, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.AdvertisingOffer.LYInventoryLevel, htmlAttributes: new { @class = "control-label col-md-3" })
                   <div class="col-md-9">
                       @Html.EditorFor(model => model.AdvertisingOffer.LYInventoryLevel, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.AdvertisingOffer.LYInventoryLevel, "", new { @class = "text-danger" })
                   </div>
               </div>
           </div> 

        </div>


        <div class="form-group">
            <div class="col-md-offset-10 col-md-12">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
   @* @Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Go to List", "OfferList")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
