@model IEnumerable<RetailAdvertisingTool.Models.AdvertisingOffer>

@{
    ViewBag.Title = "Offer List";
}

<h2>Created Offers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TYOfferCopy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYOfferPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYItemToAdvertise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYOfferPrep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYOfferSaleThru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYInventoryLevel)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MerchID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.LYOfferCopy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LYOfferPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LYItemToAdvertise)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LYOfferPrep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LYOfferSaleThru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LYInventoryLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MerchID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TYOfferCopy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYOfferPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYItemToAdvertise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYOfferPrep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYOfferSaleThru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYInventoryLevel)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.LYOfferCopy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LYOfferPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LYItemToAdvertise)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LYOfferPrep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LYOfferSaleThru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LYInventoryLevel)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MerchID)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm"})
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new {@class ="btn btn-warning btn-sm" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new {@class ="btn btn-danger btn-sm"})

        </td>
    </tr>
}

</table>


