@model IEnumerable<RetailAdvertisingTool.Models.InventoryManager>

@{
    ViewBag.Title = "Available Inventory";
}

<h2>Inventory List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPrice__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnedPrice__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RetailCost__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentInventory__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryOnOrder__c)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SampleInHouse__c)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPrice__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnedPrice__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RetailCost__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentInventory__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryOnOrder__c)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SampleInHouse__c)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { name = item.Name }, new {@class ="btn btn-primary btn-sm"} ) 
            @Html.ActionLink("Edit", "Edit", new { name = item.Name }, new { @class = "btn btn-warning btn-sm" }) 
            @Html.ActionLink("Delete", "Delete", new { name = item.Name }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
